/*Media Queries*/


/*index*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*nav*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #fcfcfc;
    padding-right: 5rem;
}

.logo{
    max-width: 100%;
    width: 200px;
}

.navbar.bg-body-tertiary{
    background-color: black;
}

.navbar{
    background-color: black;
}

.navbar-brand{
    font-size: 1.5rem;
    
}

.navbar{
    list-style-type: none;
    display: flex;
    gap:1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
}

.nav-item{
    font-size: 1.3rem;
}

/*nav*/

/*body*/

body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
    min-height: 100vh;
    
}

.carrousel{
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.persona{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.persona2{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.texto-principal{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    font-size:2rem;
    background:rgba(78, 74, 74, 0.3);
    color: white;
}

.seccion{
    background-color: #ebebeb;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

.producto{
    border: solid 10px #ebebeb;
    box-sizing: border-box;
}

.articulo-principal{
    border-top: solid 1px #ebebeb;
    padding: 1rem;
}

.articulo-imagen{
    width: 500px;
    height: auto;
    max-width: 100%;
}

.contenedor-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cursos{
    border: solid 1px #ebebeb;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    text-align: justify;
    box-shadow: 0px 0px 15px 5px grey;
    display: flex;
}

.descripcion {
    text-align: center;
    font-size: 20px;
}

form fieldset{
    border:none;
    padding:2rem;
}

.cuadrado {
    margin: 1rem;
    box-sizing: border-box;
}

.links{
    padding: 70px 20px 70px 40px;
    float: right;
}

.links input {
    padding: 1rem;
}

/*ZONA TRABAJO*/

/*ingresar*/

:root{
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg:  #eadbff ;
}

.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.login-info-container .btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    padding-top: 0.8rem;
}

.image-container {
    width: 50%;
    padding: 3rem 1rem 3rem 1rem;
    background-color: var(--image-bg);
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
    padding: 1rem;
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #fff;
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputs-container input{
    width: 80%;
    min-height: 3.125rem;
    font-size: 1em;
    margin: 1rem;
}


*/

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

a.botoncitos{
    color: var(--light-pink);
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}

/*ingresar

/* REGISTRO */

.register-container {
    height: 65rem;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.register-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.register-info-container .btn{
    width: 70%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    margin-top: 1.7rem;
    padding: 1rem;
}

.register-info-container p{
    padding-bottom: 1rem;
}

.image-container {
    width: 50%;
    padding: 3rem 1rem 3rem 1rem;
    background-color: var(--image-bg);
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
    padding: 1rem;
}


.register-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.date {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.date:hover {
    border: 2px solid var(--button-bg);
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

a.botoncitos{
    color: var(--light-pink);
    text-decoration: none;
    font-weight: 600;
}

.inputs-container, .checkbox-div{
    width: 100%;
}

.checkbox-div{
    text-align: left;
}

.checkbox label{
    padding-left: 2rem;
}

.checkbox p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .register-container {
        width: 70%;
        margin-top: 3rem;
    }
    .register-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .register-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .register-container {
        height: 90%;
    }

    .register-info-container > p {
        margin: 0;
    }
}

/*sobre nosotros*/

.preguntasfrecuentes{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 900;
    font-size:2rem;
    background:rgba(129, 158, 255, 0.3);
}

.accordion-header button{
    font-size: 1.7rem;
}

.accordion {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    padding-top: 8rem;
    position: relative;
}

/*footer*/

.container-footer {
    background-color: white;
    text-align: center;
    width:100%;
    padding: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-top: 5rem;
}

.copyright {
    font-size: 10px;
    text-align: left;
}

.titulo{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

